#!/usr/bin/env bash

sleep 3
if [[ -n "$(ps -eo 'pid,ppid,cmd'|grep -E "$0|bash /home/{{ user_gui }}/monitor_wifi_on.sh"|grep -v $$| grep -v grep)" ]]; then
        echo "already running"
        exit 1
fi

last="unknown: it wasn't running when the script started"
LOGFILE=/tmp/monitor_output.txt
while true; do
        #date
        tries_max=10
        tries=0
        failures=0
        while [ "$tries" -lt "$tries_max" ]; do
                #with an unprivileged user scanning is working 3 times then fails 3 times and so on, so it's either ignoring these errors or running this with sudo or as root
                scan="$(iwlist wlan0 scan)"
                j=0
                while [[ "$j" -lt "10" && -n "$(grep 'No scan results' <<< "$scan")" ]]; do
                        sleep 10
                        j=$(( j + 1 ))
                        scan="$(iwlist wlan0 scan)"
                done

                status="$(awk '$0~/ESSID:"{{ wifi_interface_monitored }}"/' <<< "$scan")"
                #echo "status=$status"
                if [[ -z "$status" ]]; then
                        failures=$((failures + 1))
                        echo "The wifi was not found, attempt $tries/$tries_max at $(date)" >> "$LOGFILE"
                else
                        last="$(date)"
                fi
                if [ "$failures" -eq "$tries_max" ]; then
                        echo "The wifi is NOT on, last was $last" >> "$LOGFILE"
                        hour="$(date +%H)"
                        if [[ "$hour" -gt 12 || -n "$(ps aux|grep -i kodi|grep -v wolkodi|grep -v defunct| grep -v grep)" ]]; then
                                python3 ~/buzz.py
                        fi
                        sleep 120
                fi
                tries=$((tries + 1))
                sleep 10
        done
done
