[Unit]
Description=Execute script to detect controller and launch steamlink

[Service]
Type=simple
User={{ user_gui }}
ExecStart=/home/{{ user_gui }}/detect_controller_steamlink.sh

[Install]
WantedBy=multi-user.target
