[Unit]
Description=Execute script to detect controller and launch mcomix

[Service]
Type=simple
User={{ user_gui }}
ExecStart=/home/{{ user_gui }}/detect_controller_mcomix.sh

[Install]
WantedBy=multi-user.target
