[Unit]
Description=Execute script to detect when the wifi is turned off

[Service]
Type=simple
User={{ user_gui }}
ExecStart=/home/{{ user_gui }}/monitor_wifi_on.sh

[Install]
WantedBy=multi-user.target
