[Unit]
Description=Move mouse on startup, twice just in case

[Service]
#this one makes sense as oneshot and the command gives trouble with setting the DISPLAY variable without the su <user> -c part
Type=oneshot
ExecStart=su {{ user_gui }} -c 'DISPLAY=:0 xdotool mousemove 0 0; sleep 5; DISPLAY=:0 xdotool mousemove 0 0'

[Install]
WantedBy=multi-user.target
