[Unit]
Description=Execute xscreensaver to assure the display is always on

[Service]
#this one makes sense as oneshot and the command gives trouble with setting the DISPLAY variable without the su <user> -c part
Type=oneshot
ExecStart=su {{ user_gui }} -c 'sleep 10; DISPLAY=:0 xscreensaver -no-splash &'

[Install]
WantedBy=multi-user.target
